* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    /* color: white; */
}

/* Main Page */

.main-bg {
    background-image: linear-gradient(to bottom, #454b72, #1D1842, #8E0D3C);
    background-position: center;
    height: 100vh;
    color: white;
    margin: 0;
    background-repeat: no-repeat;
    animation: gradient-move 3s ease-in-out infinite;
}

/* Define the animation */
@keyframes gradient-move {
    0% {
        background-position: 0% 50%;
    }

    100% {
        background-position: 100% 50%;
    }
}

.container {
    padding-top: 100px;
}

.btn {
    font-size: 18px;
    padding: 12px 24px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.btn-secondary {
    margin-top: 20px;
}

.btn-primary {
    background-color: #1D1842;
    border-color: #1D1842;
}

.btn-secondary {
    background-color: #8E0D3C;
    border-color: #8E0D3C;
}

/* Signup page */
#icon {
    height: 100px;
    width: 100px;
    background-color: #fcbcd3;
    border-radius: 50%;
    padding: 10px;

}
.card {
    background-color: #f9dce7;
    border: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin-top: 20px;
}
.card-title {
    text-decoration: underline 0.15em rgba(0, 0, 0, 1);
    text-underline-offset: 0.4em;
    transition: text-decoration-color 300ms, text-underline-offset 300ms;
}

.card-title:hover {
    text-decoration-color: #e61763;
    text-underline-offset: 0.6em;
}

.input-field {
    border: none;
    outline: none;
    border-bottom: 2px solid #ccc;
    transition: border-bottom 300ms, box-shadow 300ms;
}

.input-field:hover {
    border-bottom: 2px solid #e61763;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
}

.input-field:focus {
    border-bottom: 2px solid #e61763;
    box-shadow: 1px 3px 10px rgba(0, 0, 0, 0.2);
}

label {
    color: rgb(90, 88, 88);
    font-weight: 600;
    padding-left: 12px;
}

.custom-btn {
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.custom-btn:hover {
    background-color: #333;
    color: #fff;
}

.custom-btn:active {
    transform: scale(0.95);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.custom-btn.btn-primary {
    background-color: #007bff;
    color: #fff;
}

.custom-btn.btn-primary:hover {
    background-color: #0069d9;
}

.custom-btn.btn-secondary:hover {
    background-color: #5a6268;
}